

body {
background-image: url(../images/Shiriancruiseliner.png);
  background-repeat: no-repeat;
  background-size:1500px 1500px; ;
  background-position: center;
background-color: rgb(0, 0, 0);
}

.footer {  color: rgb(255, 203, 32);
  text-align: center;}

h1 {

border: 5px solid rgba(255, 230, 0, 0.756);

  
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: left;
}
p {
  font-family: Oswald,verdana;
  font-size: 20px;
  color: blue;
}