

body {
  
background-image: url(../images/Shiriancruiseliner.png);
  background-repeat: no-repeat;
  background-size:1200px 2350px; ;
  background-position: center;
background-color: rgb(0, 0, 0);

/* Box model and hover effect stuff below */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #180180;
  border-radius: 25px;
  
}
height: 2150px;
width: 1000px;
  border: 10px solid rgb(6, 8, 141);
  border-style: ridge;
  padding: 100px;
  margin: 65px;
}
.button {
  background-color: rgb(170, 147, 1);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  background-image: linear-gradient(rgb(192, 171, 49), rgb(151, 110, 7));
}
.grid-container {
  justify-content: center;
  display: grid;
  border-radius: 25px;
  grid-template-columns: auto auto auto auto;
   background-color: rgba(12, 13, 105, 0.61);
   background-image: linear-gradient(rgb(63, 63, 164), darkblue);

  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 25px;
  background-color: rgba(12, 13, 105, 0.61);
  text-align: center;
  background-image: linear-gradient(rgba(63, 63, 164, 0.618), rgba(0, 0, 139, 0.684));
}

.title {
  display: center;
  flex-direction: center;
  border-radius: 25px;
  background-color: rgba(12, 13, 105, 0.61);
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 30px;
  background-image: linear-gradient(rgb(42, 42, 107), rgb(68, 68, 105));
  
}
/* Box model  stuff above */

.footer {color: rgb(197, 194, 19);
  text-align: center;}
  .Yellowtext {color: rgb(255, 217, 0);}

  .liststuff {color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(106, 89, 14, 0.56), rgba(60, 53, 10, 0.412));
    border-radius: 25px;
    text-align: center;
    list-style-type: none;
  font-size:25px;}


h1 {

border: 5px solid rgba(255, 230, 0, 0.756);
border-style: ridge;

  
  color: white;
  text-align: center;
  font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  display: Center;
  background-image: linear-gradient(rgb(42, 42, 107), rgb(68, 68, 105));
  border-radius: 25px;
  color: white;
  text-align: Center;
  font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: Oswald,verdana;
  font-size: 20px;
  color: rgb(255, 217, 0);
  text-align: Center;
}